<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Cr8r</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class = "navbar">
        <ul>
            <li><a href = "/home">Home</a></li>
            <li><a href = "/dashboard">Dashboard</a></li>
            <li><a href = "/login">Login</a></li>
            <li><a href = "#" id = "logout-btn">Logout</a></li>
        </ul>
    </nav>
    <header class = "hero">
        <h1 class = "page-title">TekToday</h1>
    </header>
    <main class="col-auto">
        {{{body}}}
    </main>

  <footer class="flex-row justify-center">
    &copy; Humza Shaukat
  </footer>
</body>